<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css ">
    <title>::: Black & White :::</title>
</head>
<body>
    <h1>Black & White</h1>
    <div class="conteiner">
        <form action="/convertir" method="post">
            <label for="fname">Imagen URL :</label>
            <input type="text" id="fname" name="imagen" placeholder="http://imagen/origen.." required>
            <input type="submit" value="Subir imagen al servidor">
        </form>
    </div>

</body>
</html>